{% extends 'base.html.twig' %}

{% block title %}Описание проекта{% endblock %}

{% block head %}
    {{ parent() }}
    {% block head_css %}
        <link rel="stylesheet" href="{{ asset('media/styles/about.css') }}"/>
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <header>
        {% block header %}
            {{ parent() }}
        {% endblock %}
    </header>
    <div class="container">
        <div class="row">
            <div class="col titleContent">Описание проекта</div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="content">
                    Форум (web – forum) – это специальный сайт, или раздел на сайте или портале, который организован для общения и обмена мнениями.

                    Концепция форумов
                    Форумы предназначены для тематического общения. Они являются своеобразными клубами по интересам. Суть работы форума в создании пользователями тем и их последующем обсуждении. Кроме того, в каждой теме могут также создаваться тематические опросы.

                    Основные цели интернет-форума: общение, обсуждение, обмен мнениями и опытом.

                    Форум и чат отличаются тем, что на первом общение сугубо тематическое.

                    Структура форума
                    Абсолютно каждый форум имеет структурную иерархию. В большинстве случаев схема такова:

                    Конференция. Обычно и отображает то, что мы подразумеваем, когда говорим “форум”. Т.е. это движок.
                    Раздел объединяет несколько форумов в группу по определенным признакам (обычно – схожесть тематики).
                    Форум (не путать с конференцией) – единица раздела, которая объединяет тематические подфорумы.
                    Подфорумы, в свою очередь, объединяют темы. Подфорумы используются для разгрузки форумов и нужны только в случаи, если на форуме много тематических веток.
                    Темы освещают какую-либо проблему. Ведущее (первое) сообщение в теме обычно раскрывает её суть, а последующие – являются уже непосредственно обсуждением вопроса.
                    Сообщение – ответ участника форума (пользователя) на тему, его мнение.
                    Организация форума
                    К администрации форумов относят модераторов и администраторов. Обязанность администратора – осуществлять контроль над работой всего форума. Модератор – лицо, назначенное администратором для поддержания порядка согласно правилам форума в определенных его разделах.

                    Администрация форума определяет правила для пользователей и имеет полномочия для принятия мер по отношению к определенным пользователям, которые эти правила нарушают.

                    К пользователям форума относят зарегистрированных участников группы и гостей форума. Последние обычно могут только просматривать темы, но у них нет прав для того, что бы писать сообщения.
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <footer>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
